make/blueprints/apex-leads-outbound-blueprint.json
{
  "name": "Apex-Leads Outbound Callback",
  "flow": [
    {
      "id": 1,
      "module": "webhooks:customWebhook",
      "version": 1,
      "parameters": {
        "hook": 1,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "Apex Leads Outbound"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "PLACEHOLDER_APEX_BASE_URL/api/leads/{{1.leadId}}",
        "serializeUrl": false,
        "method": "patch",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "body": "{\"status\":\"calling\",\"comment\":\"{{1.comment}}\",\"leadStrength\":\"{{1.leadStrength}}\",\"followUpAt\":\"{{1.followUpAt}}\"}",
        "contentType": "application/json"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "webhooks:webhookResponse",
      "version": 1,
      "parameters": {},
      "mapper": {
        "status": 200,
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "body": "{\"ok\":true,\"workflow\":\"apex-leads-outbound\",\"leadId\":\"{{1.leadId}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  },
  "subflows": []
}
